# If an error occurs with npm, dont commit the log
**/npm-debug.log/*

# Do not commit the sass cache
**/.sass-cache/*

# Do not store the npm modules
**/node_modules/*

# Production api configuration file cannot be stored on repo
**/Config.php

# Production error log cannot be stored on repo
**/Error.log

# Built css files should not be stored on repo
**/build/css/*

# Built js files should not be stored on repo
**/build/js/*

# Test folder
**/_test/*