@import '../external/bourbon/bourbon';
@import '../external/base/base';
@import '../external/neat/neat';

@import '../general/header';

@import '../general/core';

div.portfolio {

	$min-screen : 500px;
	$max-screen : $min-screen - 1;

	$margin: 50px;

	margin-top: $margin;

	@include outer-container;

	text-align: justify;

	div {

		@include media(min-width $min-screen) {
			@include row;
		}

		span.left {

			@include media(max-width $max-screen) {
				@include row;
			}

			@include media(min-width $min-screen) {
				@include span-columns(5);
				@include shift-in-context(1);
				margin-bottom:$margin;
			}

			text-align: justify;			
			
			label {
				@include span-columns(12);
				text-align: center;
			}
			
			ul {
				@include span-columns(6);
				text-align: center;
			}

			
		}

		span.right {


			@include media(max-width $max-screen) {
				@include row;
				margin: 15px;
			}

			@include media(min-width $min-screen) {
				@include span-columns(5);
				margin-bottom:$margin;
				margin-left: 0;
			}


			text-align: justify;

			label {
				@include span-columns(12);
				text-align: center;
			}
			ul {
				@include span-columns(6);
				text-align: center;
			}

		}
	}

}

@import '../general/footer';